page-find-hotel {
    #right-panel {
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }

      #right-panel select, #right-panel input {
        font-size: 15px;
      }

      #right-panel select {
        width: 100%;
      }

      #right-panel i {
        font-size: 12px;
      }
      #right-panel {
        height: 50%;
        float: bottom;
        width: 100%;
        overflow: auto;
      }
      #map {
        margin-right: 400px;
        height: 500px;
        margin: 0;

      }
}
