<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Timeline</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding="true" >

    <section id="cd-timeline" >
        <div *ngFor="let location of locations" class="cd-timeline-block">
            <div class="cd-timeline-img">
              <ion-icon name="calendar"></ion-icon>
            </div> <!-- cd-timeline-img -->
     
            <div class="cd-timeline-content">
                <h2> Location : {{location.lat}} </h2>
                <p *ngIf="isActivity">Activity {{location.distance}}</p>
                <a href="#0" class="cd-read-more">Read more</a>
                <span class="cd-date">{{location.created | date:'short'}}</span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

    </section>



</ion-content>

